

@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

.navw{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('images/pizaW.jpg');
    height:80vh;
    width: 100%%
}

.ontop{
    color: white;
    text-align: center;
    font-size: 50px;
   
    font-family: 'Cinzel', serif;
}
 .logo{
    padding-top:200px;
    display: flex;
    justify-content: center;
 }
body,html{
    height: 100%;
}

 .parallax{
    background-image: url("images/para.jpg");
    height: 400%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }