

@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

.navw{
    background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('images/pizaW.jpg');
    height:80vh;
    width: 100%; 
}

.ontop{
    color: white;
    text-align: center;
    font-size: 50px;
   
    font-family: 'Cinzel', serif;
}
 .logo{
    padding-top:200px;
    display: flex;
    justify-content: center;
 }
body,html{
    height: 100%;
}

 .parallax{
    background-image: url("images/para.jpg");
    height: 400%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .head{
    font-family: 'Ultra', serif;
    font-size: 35px;
    
 }
.one{
 display: flex;
 justify-content: center;
}

.one form{
    background-color:skyblue;
   width: 50%;
   padding: 30px;
}
.book{
 text-decoration: none;
 background-color:white;
 
}
.book a{
text-decoration-line: none;
}

/*INFO*/
.info{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(images/para.jpg);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    color: white;
    padding-top: 150px;
}

.infop{
    padding-top: 20px;
    font-size: 20px;
}

/*book*/
.book_f{
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/fe.jpg);
    height:80vh;
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:space-around; 
    
}

#bok_h{
    font-family: 'Courgette', cursive;
    margin-top: 30px;
    text-align: center;
    
}

form{
color: white;
margin-left: 20px;

}

.table{
padding-left: 40px;
color: white;
}

#final,#finall{
color:white;
}

.deliver{
    width: 30%;
    margin: 0 auto;
    display: none;
}
#last{
 color: black;
 display: none;
}